---
// For this page also think of using NEXT/PREVIOUS page for some more functionality, but that is up to you!

import TextArticle from "../../components/TextArticle.astro";
import BlogLayout from "../../layouts/BlogLayout.astro";

interface Post {
  title: string;
  description: string;
  slug: string;
  date: string;
  content: {
    html: string;
  };
  tags: string[];
  coverImage: {
    url: string;
  };
  authors: {
    name: string;
    intro: string;
    picture: {
      url: string;
    };
  }[];
}

interface Props {
  post: Post;
}

export async function getStaticPaths() {
  const response = await fetch(
    "https://api-ap-northeast-1.hygraph.com/v2/clt4ffy57008c08jpaguxht8t/master",
    {
      method: "POST",
      headers: {
        "Content-Type": "application/json",
        Accept: "application/json",
        //Authorization: `Bearer ${import.meta.env.HYGRAPH_TOKEN}`,
      },
      body: JSON.stringify({
        query: `
        {
          posts {
            title
            description
            slug
            date
            content {
              html
            }
            tags
            coverImage {
              url
            }
            authors {
              name
              intro
              picture {
                url
              }
            }
          }
        }
      `,
      }),
    }
  );
  const posts = await response.json();
  const paths = posts.data.posts.map((post) => ({
    params: {
      slug: post.slug,
    },
    props: {
      post,
    },
  }));

  return paths;
}
const post = Astro.props.post;
---

<BlogLayout title={post.title}>
  <TextArticle />
  <div class="flex">
    <a class="font-Futurewave" href="/">home</a>
    <a class="font-Futurewave" href="/blog">/blog</a>
    <a class="font-Futurewave" href={`/blog/${post.slug}`}>/{post.slug}</a>
  </div>
  <div class="flex">
    <a class="font-Futurewave" href="/blog">go back</a>
  </div>
  <div class="prose prose-2xl">
    {post.title}
    {post.description}
    {post.tags}
    {post.date}
    {post.authors[0].name}
    {post.authors[0].intro}
    {post.authors[0].picture.url}
    {post.coverImage.url}
    <p
      class="mt-5 line-clamp-3 text-sm leading-6"
      set:html={post.content.html}
    />
  </div>
</BlogLayout>
