---
// For this page also think of using pagination for a better UX, but that is up to you!

import { Icon } from "astro-icon/components";

const response = await fetch(
  `${import.meta.env.HYGRAPH_ENDPOINT}`,
  {
    method: "POST",
    headers: {
      "Content-Type": "application/json",
      Accept: "application/json",
    },
    body: JSON.stringify({
      query: `
        {
          projects (first: 3) {
            name
            slug
            description
            tags
            content {
              html
            }
            demo
            sourceCode
            image {
              url
            }
          }
        }
      `,
    }),
  }
);
const projects = await response.json();
---

<ul
  class="mx-auto mt-10 grid max-w-2xl grid-cols-1 gap-x-8 gap-y-16 border-t border-sky-500 pt-10 sm:mt-16 sm:pt-16 lg:mx-0 lg:max-w-none lg:grid-cols-3 columns-3"
>
  {
    projects.data.projects.map((project) => (
      <li>
        <div class="p-8 px-3 pb-12 pt-3 nm-flat-sky-100-lg hover:nm-flat-stone-100-lg dark:nm-flat-gray-700-lg dark:hover:dark:nm-flat-gray-800-lg transition duration-200 ease-in-out transform hover:scale-110 rounded-lg text-center max-w-sm w-full">
          <article class="flex max-w-xl flex-col items-start justify-between">
            <div class="flex items-center gap-x-4 text-xs font-Futurewave">
              <p class="text-md">TAGS :</p>
              <a
                href={`/portfolio/${project.slug}`}
                class="relative z-10 rounded-full bg-gray-50 px-3 py-1.5 font-medium text-gray-600 hover:bg-gray-100"
              >
                {project.tags[0]}
              </a>
            </div>
            <div class="mt-4">
              <h3 class="mt-3 text-lg line-clamp-1 font-semibold leading-6 font-Futurewave">
                <a href={`/portfolio/${project.slug}`}>
                  <span class="absolute inset-0" />
                  {project.slug}
                </a>
              </h3>
              <p class="mt-5 line-clamp-3 text-sm leading-6">
                {project.description}
              </p>
            </div>

            <div class="relative mt-8 flex items-center gap-x-4">
              <hr class="py-6 border border-orange-600" />
              <div class="flex justify-center space-x-3 md:justify-start">
                <h2 class="sr-only">OWDDM</h2>
                <div class="flex items-center justify-center">
                  <Icon
                    name="masscomMediaLogo"
                    class="h-8 w-auto rounded border-2 border-white/50 bg-sky-500 sm:h-10 lg:h-12 transition duration-300"
                    aria-label="MassCom Media logo"
                  />
                </div>
                <span class="self-center font-Futurewave text-xs">
                  <>
                    <a href="/credits" class="tracking-widest">
                      masscom
                    </a>
                    <br />
                    <span class="text-gradient-brand font-extrabold uppercase tracking-[0.6em]">
                      media
                    </span>
                  </>
                </span>
              </div>
            </div>
          </article>
        </div>
      </li>
    ))
  }
</ul>

<p class="text-center sm:text-right text-sm font-Futurewave py-4">
  <span class="font-heading leading-4 text-sm"
    >I am a Jack of all Trades, but a Master in getting the job done!</span
  >
</p>
