---
// Style & Fonts
import "../styles/index.css";

// Supports weights 100-900
import "@fontsource-variable/inter";
import "@fontsource/zen-kaku-gothic-new";

import { ViewTransitions } from "astro:transitions";

const { site } = Astro;
const image = new URL("logo-lg.png", site);
const { title, description } = Astro.props;
---

<head>
  <meta charset="utf-8" />
  <link rel="icon" type="image/png" href="/favicon-16x16.png" />
  <meta name="viewport" content="width=device-width" />
  <meta name="generator" content={Astro.generator} />
  <title>{title}</title>
  <meta name="description" content={description} />
  <!-- bfcache -->
  <meta http-equiv="Pragma" content="no-cache" />
  <meta http-equiv="Cache-Control" content="no-cache" />
  <meta http-equiv="Expires" content="0" />
  <!-- open graph -->
  <meta property="og:title" content={title} />
  <meta property="og:locale" content="en_US" />
  <meta property="og:type" content="website" />
  <meta property="og:description" content={description} />
  <meta property="og:image" content={image} />
  <meta property="og:url" content={site} />
  <!-- twitter -->
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:title" content={title} />
  <meta name="twitter:description" content={description} />
  <meta property="twitter:image" content={image} />
  <!-- sitemap -->
  <link rel="sitemap" href="/sitemap-index.xml" />
  <script is:inline>
    function setMode() {
      if (
        localStorage.getItem("color-theme") === "dark" ||
        (!("color-theme" in localStorage) &&
          window.matchMedia("(prefers-color-scheme: dark)").matches)
      ) {
        document.documentElement.classList.add("dark");
      } else {
        document.documentElement.classList.remove("dark");
      }
    }
    setMode();
    document.addEventListener("astro:after-swap", setMode);
  </script>
  <!-- -->
  <script
    defer
    src="https://eu.umami.is/script.js"
    data-website-id="a365d69a-db96-4c37-817e-6982c2d09147"></script>

  <ViewTransitions />
</head>
