---
// For this page also think of using NEXT/PREVIOUS page for some more functionality, but that is up to you!

import TextArticle from "../../components/TextArticle.astro";
import ProjectLayout from "../../layouts/ProjectLayout.astro";
//import { slide } from "astro:transitions";

interface Project {
  name: string;
  slug: string;
  description: string;
  tags: string;
  content: {
    html: string;
  };
  demo: string;
  sourceCode: string;
  image: {
    url: string;
  };
}

interface Props {
  project: Project;
}

export const prerender = true;
export async function getStaticPaths() {
  const response = await fetch(
    "https://api-ap-northeast-1.hygraph.com/v2/clt4ffy57008c08jpaguxht8t/master",
    {
      method: "POST",
      headers: {
        "Content-Type": "application/json",
        Accept: "application/json/",
        //Authorization: `Bearer ${import.meta.env.HYGRAPH_TOKEN}`,
      },
      body: JSON.stringify({
        query: `
        {
          projects {
            name
            slug
            description
            tags
            content {
              html
            }
            demo
            sourceCode
            image {
              url
            }
          }
        }
      `,
      }),
    }
  );
  const projects = await response.json();
  //console.log(projects);
  const paths = projects.data.projects.map((project) => ({
    params: {
      slug: project.slug,
    },
    props: {
      project,
    },
  }));
  return paths;
}
const project = Astro.props.project;
---

<ProjectLayout title={project.name}>
  <TextArticle />
  <section class="my-24">
    <div class="flex text-xs md:text-xl font-Futurewave">
      <a class="" href="/">home</a>
      <a class="" href="/portfolio">/portfolio</a>
      <a class="" href={`/portfolio/${project.slug}`}>/{project.slug}</a>
    </div>

    <div class="flex">
      <a class="font-Futurewave" href="/portfolio">go back to index</a>
    </div>

    <div
      class="prose dark:prose-invert prose-h1:font-bold prose-h1:text-xl prose-a:text-blue-600 prose-p:text-justify prose-img:rounded-xl prose-headings:underline prose-headings:font-Futurewave"
    >
      <h1>{project.name}</h1>
      <h4 class="text-lg">Key Take-Away</h4>{project.description}
      <img
        class="h-64 w-auto"
        src={project.image[0].url}
        alt={`${project.image[0].url}`}
      />
      <div set:html={project.content.html} />
      <h3>Credits | sourceCode</h3>
      <div class="text-sm">
        <a href={project.sourceCode} target="_blank">{project.sourceCode}</a>
      </div>
    </div>
  </section>
</ProjectLayout>
